.idea
__pycache__
.DS_Store
GoogleNews-vectors-negative300.bin
*/data/*.npy
*/data/*.pkl
*\data\*.npy
*\data\*.pkl
examples/twenty_newsgroups/data/*.npy
examples/twenty_newsgroups/data/*.pkl
examples/twenty_newsgroups/lda2vec/lda2vec.hdf5
examples/twenty_newsgroups/lda2vec/topics.pyldavis.npz
examples/twenty_newsgroups/data/pkls2*
